<h4>Mentee Form</h4>

<EditForm Model="@menteeModel">
    <div>
        <label>Choose your interests:</label>
        <div>
            @foreach (var interest in InterestsOptions)
            {
                <div>
                    <input type="checkbox" id="@interest" value="@interest" @onchange="(e) => UpdateInterests(e, interest)"
                           checked="@menteeModel.Interests.Contains(interest)" />
                    <label for="@interest">@interest</label>
                </div>
            }
        </div>
    </div>

    <div>
        <label>Preferred Times:</label>
        <div>
            @foreach (var time in PreferredTimesOptions)
            {
                <div>
                    <input type="checkbox" id="@time" value="@time" @onchange="(e) => UpdatePreferredTimes(e, time)"
                           checked="@menteeModel.PreferredTimes.Contains(time)" />
                    <label for="@time">@time</label>
                </div>
            }
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public Mentee menteeModel { get; set; }

    private List<string> InterestsOptions = new()
    {
        "Software Development",
        "Project Management",
        "Leadership",
        "Marketing",
        "Design",
        "Finance"
    };
    private List<string> PreferredTimesOptions = new()
    {
        "Morning",
        "Afternoon",
        "Evening"
    };

    protected override void OnInitialized()
    {
        menteeModel.Interests ??= new List<string>();
        menteeModel.PreferredTimes ??= new List<string>();
    }

    private void UpdateInterests(ChangeEventArgs e, string interest)
    {
        if (((bool)e.Value) && !menteeModel.Interests.Contains(interest))
        {
            menteeModel.Interests.Add(interest);
        }
        else if (!((bool)e.Value))
        {
            menteeModel.Interests.Remove(interest);
        }
    }

    private void UpdatePreferredTimes(ChangeEventArgs e, string time)
    {
        if (((bool)e.Value) && !menteeModel.PreferredTimes.Contains(time))
        {
            menteeModel.PreferredTimes.Add(time);
        }
        else if (!((bool)e.Value))
        {
            menteeModel.PreferredTimes.Remove(time);
        }
    }
}
